/* Base Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0 1rem;
    padding-bottom: 100px;
}

/* Grid Styles */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
    padding-bottom: 40px;
  }

/* Header Styles */

header {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 2rem 0;
}

h1 {
    font-size: 1.25rem;
    text-align: center;
}

input {
    width: 100%;
    height: 50px;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #DFDFDF;
}

/* Employee Styles */

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 2px solid #DFDFDF;
    border-radius: 10px;
    padding: 1.75rem 1rem;
  }

.card .image-container {
    margin-left: auto;
}

.card .employee-info {
    margin-right: auto;
}

img {
    border-radius: 50%;
    margin-right: 1rem;
}

h2 {
    margin: 0px;
    font-size: 1rem;
}

p {
    margin: 2px;
    font-size: .75rem;
    color: #83898D;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    
    /* Base Styles */

    header, 
    .grid-container {
        max-width: 1400px;
        margin: 0 auto;
    }

    /* Grid Styles */

    .grid-container {
        grid-template-columns: 1fr 1fr; 
    }

    /* Header Styles */

    header {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 1.75rem;
        grid-column: 1 / span 1;
        justify-self: start;
    }

    input {
        width: 300px;
        grid-column: 2 / span 1;
        justify-self: end;
        align-self: center;
    }

    /* Employee Styles */

    .card {
        min-width: 400px;
    }

    img {
        width: 128px
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1rem;
    }

    
}

@media only screen and (min-width: 1024px) {

    /* Grid Styles */
    
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;   
    }

    .card {
        
    }
}



