/* Global Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0 1rem;
    padding-bottom: 133.5px;
}

/* Grid Styles */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 1rem;
  }

/* Header Styles */

header {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 2rem 0;
}

h1 {
    font-size: 1.25rem;
    text-align: center;
}

input {
    width: 100%;
    height: 50px;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid #DFDFDF;
}

/* Employee Styles */

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 2px solid #DFDFDF;
    border-radius: 10px;
    padding: 1.75rem 1rem;
    cursor: pointer;
}

.card .image-container {
    margin-left: auto;
}

.card .employee-info {
    margin-right: auto;
}

img {
    border-radius: 50%;
    margin-right: 1rem;
}

h2 {
    margin: 0px;
    font-size: 1rem;
}

p {
    margin: 2px;
    font-size: .75rem;
    color: #83898D;
}

/* Overlay & Modal Styles */

.modal-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	justify-content: center;
	align-items: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    min-width: 300px;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.close {
    align-self: flex-end;
    color: #83898D;
    cursor: pointer;
}

.modal-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-image-container img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 95px;
}

.left-arrow,
.right-arrow {
    font-size: 2rem;
    font-weight: 100;
    color: #83898D;
    background: none;    
    border: none;
    outline: none;
    cursor: pointer;
}

hr {
    width: 100%;
    color: #83898D;
}

/* Media Queries */

    @media only screen and (min-width: 768px) {
        
        /* Base Styles */

        body {
            padding-left: 3rem;
            padding-right: 3rem;
        }

        header, 
        .grid-container {
            max-width: 1300px;
            margin: 0 auto;
        }

        /* Grid Styles */

        .grid-container {
            grid-template-columns: 1fr 1fr; 
            grid-gap: 2rem;
        }

        /* Header Styles */

        header {
            grid-template-columns: 1fr 1fr;
        }

        h1 {
            font-size: 1.75rem;
            grid-column: 1 / span 1;
            justify-self: start;
        }

        input {
            width: 300px;
            grid-column: 2 / span 1;
            justify-self: end;
            align-self: center;
        }

        /* Employee Styles */

        .card {
            min-width: 400px;
        }

        img {
            width: 128px
        }
        
        h2 {
            font-size: 1.5rem;
        }
        
        p {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 1rem;
        }

        /* Overlay & Modal Styles */

        .modal-content {
            min-width: 410px;   
        }

        .modal-image-container img {
            width: 170px;
        }

        .left-arrow,
        .right-arrow {
            font-size: 3rem;   
        }
    
    }

    /* @media only screen and (min-width: 1024px) { */

        /* Grid Styles */
        
        /* .grid-container {
            grid-template-columns: 1fr 1fr;   
        }

    } */

    @media only screen and (min-width: 1200px) {

        /* Grid Styles */
        
        .grid-container {
            grid-template-columns: 1fr 1fr 1fr;
            max-width: 1200px;   
        }

    }

    /* */
