/* Base Styles */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Grid Styles */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    padding: 1rem;
}

/* Header Styles */

header {
    display: flex;
    flex-wrap: wrap;
}

/* Employee Styles */

.card {
    display: flex;
    max-width: 100%;
    border: 2px solid #DFDFDF;
    border-radius: 10px;
    align-items: center;   
}

img {
    border-radius: 50%;
}

/* Media Queries */

@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;  
    }

    header {
        justify-content: flex-start;
    }

    input {
        margin-left: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;   
    }
}



